<div style="display: flex; align-items: center; gap: 10px">
    <p style="flex: 1; margin: 0; padding: 10px">As your puzzle box was marked as Lost you will need to pay a fine to continue your subscription.</p>
</div>
<a href="<%= account_url %>" class="cta-button">Re-enable Subscription</a>
