<div style="display: flex; align-items: center; gap: 10px">
    <img src="<%= @puzzle.image.url %>" alt="Puzzle Box" class="hero-image" style="max-width: 50%; flex: 1; object-fit: cover; border-radius: 8px">
    
    <p style="flex: 1; margin: 0; padding: 10px">Returned, thank you!</p>
</div>
