<div style="display: flex; align-items: center; gap: 10px">
    <img src="<%= @puzzle.image.url %>" alt="Puzzle Box" class="hero-image" style="max-width: 50%; flex: 1; object-fit: cover; border-radius: 8px">
    
    <p style="flex: 1; margin: 0; padding: 10px">Your monthly puzzle has been shipped! Get ready to challenge your mind and unravel the mystery. Can you solve this month’s puzzle box before the time runs out?</p>
</div>
<a href="<%= @rental.sent_parcel.tracking_url %>" class="cta-button">Track Your Puzzle Box</a>
