<div id="<%= dom_id rental_review %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Rental:</strong>
    <%= rental_review.rental_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Condition:</strong>
    <%= rental_review.condition %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Details:</strong>
    <%= rental_review.details %>
  </p>

</div>
