<div id="<%= dom_id puzzle_type %>">
  <p>
    <strong>Name:</strong>
    <%= puzzle_type.name %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= puzzle_type.brand %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= puzzle_type.description %>
  </p>

</div>
