<div class="space-y-6">
  <% if subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
        <% subscription.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w-100 text-center">
    <form action="/checkout/session/create" method="POST" data-turbo="false">
      <input type="hidden" name="priceId" value="price_1QcW4lFqOwmU7NyixKqqcqIU" />
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <button type="submit" class="mx-auto px-6 py-2 bg-green-600 hover:bg-green-900 text-white">Subscribe</button>
    </form>
  </div>
</div>
