<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
  <section class="bg-white shadow-md rounded-lg md:mb-12">
    <div class="p-8">
      <h1 class="text-4xl font-bold mb-4">Monthly Puzzle Box Rental Subscription!</h1>
      <p class="text-lg text-gray-700 mb-6">Subscribe today to received monthly puzzle box rentals straight to your door. Perfect for puzzle enthusiasts of all ages!</p>
      <div class="text-center mt-8">
        <%= link_to "Subscribe now", account_path, class: 'px-6 py-3 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600' %>
      </div>
    </div>
  </section>

  <section class="bg-white shadow-md rounded-lg mb-6 md:mb-12">
    <div class="p-8">
      <h2 class="text-2xl font-bold mb-4">How does it work?</h2>
      <ol class="list-decimal list-inside">
        <li>Subscribe to our monthly Puzzle Box service</li>
        <li>Receive a fun-filled Puzzle Box to solve</li>
        <li>Complete the Puzzle Box and send it back with the included prepaid label</li>
        <li>Be sent a new Puzzle Box!</li>
      </ol>
    </div>
  </section>
</div>

<section class="mb-12 mx-6">
  <div class="flex justify-between">
    <h2 class="text-2xl font-semibold text-center mb-6 flex-grow">Explore Our Puzzle Boxes</h2>
    <%= link_to "All", puzzles_path, class: 'bg-blue-600 text-white px-3 py-1 rounded hover:bg-blue-700 mb-6' %>
  </div>
  <div class="relative">
    <!-- Carousel Wrapper -->
    <div class="overflow-x-auto whitespace-nowrap space-x-4 flex justify-center">
      <% @puzzles.each_with_index do |puzzle, index| %>
        <%= render partial: "puzzles/puzzle", locals: { puzzle: puzzle, index: index, small: true } %>
      <% end %>
    </div>
  </div>
</section>
