<h1>Rent a clue!</h1>
<div>Splash piture</div>
<div>Options of boxes for rent</div>
<div>Value proposition</div>
<div><%= link_to "Subscribe now", new_subscription_path %></div>
<form action="/checkout/session/create" method="POST" data-turbo="false">
    <input type="hidden" name="priceId" value="price_1QcW4lFqOwmU7NyixKqqcqIU" />
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <button type="submit">Checkout</button>
</form>
