<% provide(:title, "Users") %>

<p style="color: green"><%= notice %></p>

<!-- Table -->
<div class="bg-white shadow rounded-lg mb-6">
<table class="min-w-full text-left divide-y divide-gray-200">
    <thead class="bg-gray-50">
    <tr>
        <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase">Email</th>
        <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase">Subscribed from</th>
        <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase">Actions</th>
    </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <%= render @users %>
    </tbody>
</table>
</div>


<%= link_to "New user", new_admin_user_path, class: 'bg-blue-600 text-white px-4 py-2 rounded hover:underline hover:bg-blue-700' %>
