<div id="<%= dom_id fine %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Rental reviews:</strong>
    <%= fine.rental_reviews_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= fine.amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Reason:</strong>
    <%= fine.reason %>
  </p>

</div>
