<h1>Editing puzzle type</h1>

<%= render "form", puzzle_type: @puzzle_type %>

<br>

<div>
  <%= link_to "Show this puzzle type", admin_puzzle_type_path(@puzzle_type) %> |
  <%= link_to "Back to puzzle types", admin_puzzle_types_path %>
</div>
