<p style="color: green"><%= notice %></p>

<h1>Puzzle types</h1>

<div id="puzzle_types">
  <% @puzzle_types.each do |puzzle_type| %>
    <%= render puzzle_type %>
    <p>
      <%= link_to "Show this puzzle type", admin_puzzle_type_path(puzzle_type) %>
    </p>
  <% end %>
</div>

<%= link_to "New puzzle type", new_admin_puzzle_type_path %>
