<% provide(:dashboard) do %>
  <div id="dashboard">
    <h2>Admin Dashboard</h2>
    <!-- Include any additional dashboard elements here -->
  </div>
<% end %>

<%= render template: 'layouts/application' %>