<h1>Account#index</h1>
<p>Find me in app/views/account/index.html.erb</p>

<%= render @subscription %>

<% if @active_rental %>
    <%= render @active_rental %>
<% else %>
    <p>No active rentals</p>
<% end %>